* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    background-color: #f0f0f0;
    transition: background-color 0.3s, color 0.3s;
    background-color: white; /* Cor de fundo claro */
    color: black; /* Cor do texto claro */
    border: 12px solid #c3a6d8;
}

.page2 {
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border: 10px solid white;
}

#abrir
{
    background-color: #c3a6d8;
    border: transparent;
}

#abrir:hover {
    color: #4b0082;
}

#modal{
    width:50%;
    background-color: #D0BFFF;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding:1em;
    border-radius: 20px;
    border: solid 1px transparent;
    text-align: justify;
    position: sticky;
}

#modal h2{
    text-align: center;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 600px;
    margin: auto;
    background-color: #D0BFFF;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: rgb(255, 208, 185);
    color: black;
    border: none;
    border-radius: 14px;
}


button:hover {
    background-color: rgb(255, 208, 185);
    color: black;
}

#btn-fechar{
    margin-top: 10px;
}

#fechar{
    margin-top: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c3a6d8;
    padding: 20px;
    border-radius: 20px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

nav ul li a:hover {
    color: #4b0082;
}

#linav{
    margin-top: 20px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: rgb(255, 208, 185);
}

input:focus+.slider {
    box-shadow: 0 0 1px rgb(255, 208, 185);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.dark-mode {
    background-color: black;
    color: white;
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 3fr 2fr 0.5fr;
    gap: 20px;
    width: 100%;
}

.slogan {
    grid-column: 1;
    grid-row: 1;
    position: relative;
    border-radius: 20px;
    margin-top: 30px;
}

.slogan img {
    width:100%;
    height: 400px;
    border-radius: 20px;
    object-fit: cover;
}

.slogan2 {
    position: relative;
    border-radius: 20px;
    margin-top: 30px;
}

.slogan2 img {
    width:100%;
    height: 400px;
    border-radius: 20px;
    object-fit: cover;
}

.text-slogan {
    font-family: "Afacad", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    width: 80%;
    padding: 10px;
}

h1 {
    margin: 0;
    line-height: 1.3;
}

.skills {
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    grid-column: 3;
    grid-row: 1/3;
    background-color: rgb(255, 208, 185);
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;
    margin-top: 30px;
}

.skills h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.skills ul {
    list-style: none;
}

.skills li {
    margin-bottom: 10px;
}

hr {
    border: 0;
    height: 2px;
    background-color: #fbb1a9; 
    margin: 20px 0; 
}

.about-me{
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    background-color: rgb(255, 208, 185);
    border-radius: 20px;
    padding: 20px;
    grid-column: 1;
    grid-row: 2/4;
}

.about-me div{
    padding: 20px;
}

.contact-box {
    grid-column: 2;
    grid-row: 2/4;
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    background-color: #c8a4eb;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-box img{
    width: 100%;
    height: 250px;
    border-radius: 20px;
    object-fit: cover;
}

.top-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.top-content p {
    font-size: 14px;
    color: #333;
}

.seta {
    font-size: 24px;
    text-decoration: none;
    color: #000;
}

.bottom-content {
    text-align: left;
}

.bottom-content h2 {
    font-size: 28px;
    color: #000;
}

footer {
    grid-column: 3;
    grid-row: 3;
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    background-color: #fbb1a9;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    height: 80px;
}

footer a {
    text-decoration: none;
    font-size: 16px;
    color: #000;
}

footer a:hover {
    text-decoration: underline;
}

footer svg {
    width: 25px;
    height: 25px;
}

.butao-contato{
    background-color:#fbb1a9;
    border-color: transparent;
}